.padding6_10 { padding: 6px 10px !important; }
.paddinglb20 { padding-left: 20px !important; padding-bottom: 20px !important; }
.paddingt5 { padding-top: 5px !important; } .paddingt7 { padding-top: 7px !important; } .paddingt2 { padding-top: 2px !important; }
.paddingt20 { padding-top: 20px !important; } .paddingt10 { padding-top: 10px !important; } .paddingt30 { padding-top: 30px !important; }
.padding13 { padding: 13px !important; } .paddingl7 { padding-left: 7px !important; }
.padding5 { padding: 5px !important; } .padding2 { padding: 2px !important; } .padding10 { padding: 10px !important;  }.padding0 { padding: 0px; }
.padding7 { padding: 7px; } .paddinglrb20t0 { padding-left: 0px 20px 20px 20px !important; } 
.paddingl8 { padding-left: 8px !important; } .paddingl5 { padding-left: 5px !important; }
.paddingl0 { padding-left: 0px !important; } .paddingl10 { padding-left: 10px !important; } .paddingl20 { padding-left: 20px !important; }
.paddingl50 { padding-left: 50px !important; }
.paddingr0 { padding-right: 0px !important; } .paddingr10 { padding-right: 10px !important; } .paddingl12 { padding-left: 12px !important; }
.paddingltb10 { padding-top: 0px; padding-left:5px; padding-right: 0px !important; padding-bottom: 30px; }
.paddingtb10 { padding-top: 10px; padding-left: 0px !important; padding-bottom: 10px; }
.paddinglr10 { padding-left: 10px; padding-right: 10px !important; } .paddinglr0 { padding-left: 0px; padding-right: 0px !important; }
.paddinglr012 { padding-left: 0px !important; padding-right: 12px !important; }
.padding1330 { padding: 10px 20px !important; } .padding20 { padding: 20px !important; } .padding15 { padding: 15px !important; }


.colorgray { color : #484848 !important; }
.colornavey{ color : #006699 !important; }
.colorccc { color: #ccc !important; }
.colorgreen { color: #72bf66; } 
.color666 { color: #666; } 
.colorblue { color: #006699; } .colorskyblue { color:#49c2c2 !important; }
.colororange { color: #FF8E2F; } .colordarkorange { color:#fd9714; }
.colorwhite { color: #fff !important; } .colorblack { color:#101010 !important; }
.colorred { color : red !important; }
.bgnavey{ background-color : #006699 !important; }


.padding30030 { padding: 15px 0 30px !important }
.paddinglimenu { padding: 20px 5px 5px !important; }



.borderlight { 
  border: 1px solid #E0E0E0;
}
.bold { font-weight: bold; }



.margint280 { margin-top: 280px !important; }
.margint-190 { margin-top: -190px; }.margint55 { margin-top: 55px !important; }.margint153 { margin-top: 153px !important;}
.margint120 { margin-top: 120px !important; } .margint15 { margin-top: 15px !important; }
.margint5 { margin-top: 5px !important; } .margint10 { margin-top: 10px !important; } .margint50 { margin-top: 50px !important; }
.margint20 { margin-top: 20px !important; }  .margint30 { margin-top: 30px !important; } .margint40 { margin-top: 43px !important; }
.margint0 { margin-top: 0px !important; } .margint200 { margin-top: 200px !important; } .margint100 { margin-top: 100px !important; }
.margint110 { margin-top: 110px !important; } .margint450 { margin-top: 450px !important; }  .margint50 { margin-top: 50px !important; }
.margint80 { margin-top: 80px !important; } .margint150 { margin-top: 150px !important; } .margint280 { margin-top: 280px !important; } 

.marginl10p { margin-left: 10%; } .marginl30p { margin-left: 30%; }
.marginl5 { margin-left: 5px !important; }.marginl12 { margin-left: 12px; } .marginl15 { margin-left: 15px !important; } .marginl50 { margin-left: 50px !important; }
.marginl30 { margin-left: 30px !important; } .marginl20 { margin-left: 20px !important; }
.marginr5 { margin-right: 5px !important; }.marginleftright5{margin:0px 5px;}.marginr15 { margin-right: 15px !important; }
.margin0 { margin: 0px !important; }


.h210 { height: 210px !important; }  .h50 { height: 50px !important; }  .h25 { height: 25px !important; } .h27 { height: 27px !important; }
.h380 { height: 380px !important; } .h440 { height: 440px !important; } .h530 { height: 530px !important; }
.h430 { height: 430px !important; } .hauto { height: auto !important; } .h290 { height: 290px !important; }.h20 { height: 20px !important; min-height: 20px !important;}
.h190 { height: 190px !important; } .h200 { height: 200px !important; } .h270 { height: 270px !important; } .h80 { height: 80px !important; }
.h300 { height: 300px !important; } .h260 { height: 260px !important; } .h250 { height: 250px !important; } .h230 { height: 230px !important; }
.h65 { height: 65px !important; } .h45 { height: 45px !important; } 
.h160 { height: 160px !important; } .h45 { height:45px !important; } .h90 { height: 90px !important; }
.h30{ height: 30px !important; }
.h35 { height: 35px !important; }.h100 { height: 100px; }.h150 { height: 150px !important; }.h500 { height: 500px !important; }
.h400 { height: 400px !important; }.h550 { height: 550px !important; }  .h83 { height: 83px !important; } 
.h170 { height: 170px !important; } .h110 { height: 110px !important; } .h115 { height: 115px !important; }  .h550 { height: 550px !important; }
.h120 { height: 120px !important; }  .h130 { height: 130px !important; } .h320 { height: 320px !important; }  .h370 { height: 370px !important; }
.h140 { height: 140px !important; } .h210 { height: 210px !important; } .h28 { height: 28px !important; } 


.lh35 { line-height: 35px !important; }


.size11 { font-size: 11px !important; }
.size14 { font-size: 14px !important; }
.size12 { font-size: 12px !important; }
.size18 { font-size: 18px !important; }
.size17 { font-size: 17px !important; }
.size16 { font-size: 16px !important; }
.size18 { font-size: 18px !important; }
.size20 { font-size: 20px !important; }


.floatright { float: right !important; } .floatleft { float: left !important; } .floatnone { float: none !important; }
label { color : #585858 !important; }


.valignmiddle { vertical-align: middle !important; }
















.cursorpointer { cursor: pointer; }
.userprof {  border: 3px solid #D0D0D0;border-radius: 50%; height: 45px ; width: 45px; }
.userpic { height: 110px; width: 110px; }
.profilebox {  height: 120px; width: 120px; padding: 5px; }
.profupload {  height: 80px; width: 150px; padding: 5px; }
.clearfix { clear: both; content: ""; }
.bluelabel {  color: #006699; font-weight: 700; font-size:14px;} 
.graylabel {  color: #848484;font-size: 14px; }
.btnblue {   background: #006699 none repeat scroll 0 0;
    border: 2px solid #006699;
    border-radius: 0;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 35px;
    margin-right: 37px;
    outline: medium none;
    text-align: center;
    text-transform: uppercase;
    width: 80px; }
.benifit-list li {  font-size: 16px; margin: 10px 0; }
.modal-footer { border-top: 0px; }
.bigbtn { padding: 11px !important; font-size: 16px !important; }
/*success*/
.box-icon-success {
    background: #51a351  !important;
}
.box-icon-large {
    width: 90px  !important;
    height: 90px  !important;
    line-height: 90px  !important;
    font-size: 42px  !important;
    color: #fff  !important;
    text-align: center  !important;
}
.round {
    -webkit-border-radius: 50%  !important;
    border-radius: 50%  !important;
}
.box-icon-success:hover {
    background: #418241  !important;
    color: #fff  !important;
}

.box-icon-red {
    background: red  !important;
}
.box-icon-red:hover {
    background: #418241  !important;
    color: #fff  !important;
}
/*success*/











































































.shadow2 {
   box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.shadow2:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.shadow1
{
  position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
  .shadow1:before, .shadow1:after
{
 content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.shadow1:after
{
  right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}
.shadow4:before, .shadow4:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.shadow4:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

.errormsg{
            background: #eee;
            height: 35px;
            width: 95%;
            z-index: 99;
            position: absolute;
            padding: 10px;
            text-align: center;
            clear: both;
            top: 49px;
        }