.small-box .icon {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    position: absolute;
    top: 2px !important;
    right: 10px;
    z-index: 0;
    font-size: 45px !important;
    color: rgba(0, 0, 0, 0.15);
}