.required
{
    color:red;
}
.preloader
{
	height: 100%;
	left: 0;
	background-position: center center;
	background-repeat: no-repeat;
	
	background-color:rgba(0, 0, 0, 0);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999999;
}